* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: var(--clrText);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 0 0.8rem;
  color: var(--clrPrimary-1);
}

p {
  font-size: 1em;
  margin: 0 0 1.2rem;
}

.btn {
  border: 1px solid var(--clrPrimary-1);
  font-size: 22px;
  color: var(--clrText);
  background-color: var(--clrPrimarybase);
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 3px;
  width: min-content;
}

.btn:hover {
  scale: 1.1;
}

.buttons-section .btn.clr-stroke,
.buttons-section .btn.clr-fill {
  width: 45px;
  height: 45px;
}
