/* ONLY MOBILE  */
@media (max-width: 800px) {
  .main-header .main-nav-container {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 2s;
    align-items: end;
  }

  body.menu-open .main-header .main-nav-container {
    grid-template-rows: 1fr;
  }
  .main-header .main-nav {
    margin: 0;
    min-height: 0;
    flex-direction: column;
    background-color: var(--clrPrimary-2);
  }

  .main-header .main-nav .nav-item {
    padding: 1em 0;
  }

  .main-header .main-nav .nav-item:hover {
    background-color: #000;
  }
}

/* SMALL */
@media (min-width: 640px) {
}

/* MEDIUM */
/*
@media (min-width: 800px) {
  .main-layout {
    padding-left: 0;
    padding-right: 0;
  }
  .main-header-container {
    width: 100vw;
    margin-inline: 0;
  }
  .main-nav > li {
    margin: 10px;
  }

  .main-header-container {
    display: grid;
    align-items: center;
    text-align: center;
    height: 130px;
    font-size: 2.5em;
    width: 18em;
    margin-inline: auto;
  }
  h1 {
    margin-inline: auto;
  }
  .canvas-elements-container {
    margin-inline: 2em;
  }

  .main-container {
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'can can can can txt  txt  txt  txt'
      'can can can can a    b    c    d'
      'can can can can font font fil  strok'
      'can can can can e    f    g    h';
  }

  .main-container .txt-meme {
    grid-area: txt;
    width: 100%;
    justify-self: center;
  }

  .main-container button.btn-up {
    grid-area: a;
  }

  .main-container button.btn-down {
    grid-area: b;
  }

  .main-container button.btn-add {
    grid-area: c;
  }

  .main-container button.btn-delet {
    grid-area: d;
  }

  .main-container h3 {
    grid-area: font;
    font-size: 2em;
  }

  .main-container .fill {
    grid-area: fil;
    font-size: 2em;
  }

  .main-container .stroke {
    grid-area: strok;
    font-size: 2em;
  }

  .main-container .btn-txt-l {
    grid-area: e;
  }

  .main-container .btn-txt-s {
    grid-area: f;
  }

  .main-container .clr-fill {
    grid-area: g;
  }

  .main-container .clr-stroke {
    grid-area: h;
  }

  .canvas-container {
    grid-area: can;
  }

  .sharing.flex.flex-column {
    align-items: stretch;
    width: auto;
  }
}
*/

/* LARGE */
@media (min-width: 880px) {
  .main-layout {
    padding-left: 0;
    padding-right: 0;
  }

  .main-header-container {
    width: 100vw;
    margin-inline: 0;
  }

  .main-nav > li {
    margin: 10px;
  }

  .main-header-container {
    display: grid;
    align-items: center;
    text-align: center;
    margin-inline: auto;
    font-size: 2em;
    height: 130px;
    width: 18em;
  }

  h1 {
    margin-inline: auto;
  }

  .main-layout {
    padding-left: 0;
    padding-right: 0;
  }

  .main-header-container {
    width: 100vw;
    margin-inline: 0;
  }

  .main-header ul {
    margin-inline-end: 1em;
  }

  .main-logo {
    margin-inline-start: 1em;
  }

  .gallery {
    margin: auto;
  }

  .main-container button {
    height: 2em;
  }

  .main-container {
    display: flex;
    width: 100vw;
  }

  .canvas-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas-container canvas {
    margin-inline-start: 0;
  }

  .buttons-section {
    width: 40vw;
  }

  .main-container .txt-meme {
    width: 90%;
    margin-inline-end: 1em;
  }
  .sharing {
    width: min-content;
  }

  .buttons-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .lbls {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2.2em;
    margin-block-end: -1.2em;
    color: var(--clrPrimary1);
  }

  .lbls .stroke {
    margin-inline-start: -1.3em;
  }

  .btns-fonts {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .sharing {
    display: flex;
  }

  .btns-save a {
    padding: 10px;
  }

  .btns-save a:hover {
    scale: 1.1;
  }
}
