.canvas-elements-container {
  margin-block-start: 2em;
  background-color: rgb(194, 219, 241);
}

.canvas-elements-container h1 {
  text-align: center;
}

.canvas-container canvas {
  margin-inline-start: 1em;
  background-color: azure;
}
