.gallery {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  gap: 0.4em;
  width: 95vw;
  background-color: rgb(238, 244, 244);
}

.gallery h1 {
  font-size: 2em;
}

.img-card img {
  margin-block-start: 1em;
  width: 150px;
}
