.gallery-header h1 {
  text-align: center;
  margin-block-start: 1em;
}

.gallery {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  gap: 0.4em;
  width: 95vw;
}

.gallery h1 {
  font-size: 2em;
}

.img-card img {
  margin-block-start: 1em;
  width: 150px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.img-card img:hover {
  scale: 1.2;
}
