/* pallete */

:root {
  /* primary */
  --clrPrimary8: #ffffff;
  --clrPrimary7: #f8f8f8;
  --clrPrimary6: #e5e5e5;
  --clrPrimary5: #e1e0e0;
  --clrPrimary4: #c2c2c2;
  --clrPrimary3: #a6a6a6;
  --clrPrimary2: #939292;
  --clrPrimary1: #818181;
  --clrPrimarybase: #606060;
  --clrPrimary-1: #4f4e4e;
  --clrPrimary-2: #292929;
  --clrPrimary-3: #1e1e1e;

  /* secondary */
  --clrSecondarybase: #58c93a;

  /* unique */
  --clrFacebookIcon: #516fad;
  --clrTwitterIcon: #26a7de;
  --clrBehanceIcon: #053eff;
  --clrDribbbleIcon: #ea4c89;
}
